RBP_UI_URL=
RB_API_URL=
BUGHUNT_APP_URL=


# PUBLIC URLs
RBP_UI_URL=https://automationintesting.online
RB_API_URL=https://restful-booker.herokuapp.com
TOOLSHOP_URL=https://practicesoftwaretesting.com
TOOLSHOP_BUGS_URL=https://with-bugs.practicesoftwaretesting.com
TOOLSHOP_API_URL=https://api.practicesoftwaretesting.com
PW_TARGET_URL=https://automationexercise.com
WDIO_TARGET_URL=https://opensource-demo.orangehrmlive.com


# Jira (used later for API integrations / scripts)
JIRA_BASE_URL=
JIRA_EMAIL=
JIRA_API_TOKEN=

